page-view-main-categories 
{
	.scroll-content 
    {
        padding-bottom: 0px !important;
    }

    .list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
}
    
	.card-background-page 
	{
  		ion-card 
  		{
    		position: relative;
    		//text-align: center;
  		}

	  	.card-title 
	  	{
		    position: absolute;
		    top: 36%;
            left: 5%;
		    font-size: 1.5em;
		    width: 100%;
		    font-weight: bold;
		    color: #fff;
		    //text-shadow: 0px 1px rgba(29, 28, 28, 1);
	  	}

	  	.card-subtitle 
	  	{
		    font-size: 1.0em;
		    position: absolute;
		    top: 52%;
		    width: 100%;
		    color: #000;
		    //text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	  	}
	}

    .card-ios,.card-md,.card-wp 
    {
        margin: 0px !important;
        width: 100% !important;
    }

	.footer 
    {
        width: 100vw;
        bottom: 0;
        //height: 42px;
        height: 60px;
        .button-left 
        {
            display: inline-block;
            //background-color: #1b1b1b;
            background-color: #ed6663;
            button 
            {
                height: 42px;
                color: color($colors, pearl);
                font-size: 1.5rem;
                width: 40vw;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
            }
            .quantity-select 
            {
                display: none;
            }
        }
        .button-right 
        {
            text-align: right;
            width: 60vw;
            display: inline-block;
            position: fixed;
            right: 0;
            background-color: #2f2e2e;
            button 
            {
                height: 42px;
                color: color($colors, pearl);
                font-size: 1.5rem;
                font-weight: 600;
                margin: 0 0 0 0;
            }
        }
    }

    .grid
    {
      //padding: 0px !important;
    }

    .ion-ios-tab_1,.ion-md-tab_1,.ion-wp-tab_1,ion-icon.tab-button-icon.icon.icon-ios.ion-ios-tab_1-outline
    {
        content: url(../assets/icon/home.svg);
        //padding: 2px 0px 3px;
        width: 25px;
    }

    .ion-ios-tab_1:before,.ion-md-tab_1:before,.ion-wp-tab_1:before
    {
        content: url(../../assets/icon/home.svg);
        width: 25px;
    }
  
    .ion-ios-tab_2,.ion-md-tab_2,.ion-wp-tab_2,ion-icon.tab-button-icon.icon.icon-ios.ion-ios-tab_2-outline
    {
        content: url(../assets/icon/category.svg);
        //padding: 2px 0px 3px;
        width: 25px;
    }

    .ion-ios-tab_2:before,.ion-md-tab_2:before,.ion-wp-tab_2:before 
    {
        content: url(../../assets/icon/category.svg);
        width: 25px;
    }

    .ion-ios-tab_3,.ion-md-tab_3,.ion-wp-tab_3,ion-icon.tab-button-icon.icon.icon-ios.ion-ios-tab_3-outline
    {
        content: url(../assets/icon/cart.svg);
        //padding: 2px 0px 3px;
        width: 25px;
    }
  
    .ion-ios-tab_3:before,.ion-md-tab_3:before,.ion-wp-tab_3:before 
    {
        content: url(../../assets/icon/cart.svg);
        width: 25px;
    }

    .ion-ios-tab_4,.ion-md-tab_4,.ion-wp-tab_4,ion-icon.tab-button-icon.icon.icon-ios.ion-ios-tab_4-outline
    {
        content: url(../assets/icon/account_5.svg);
        //padding: 2px 0px 3px;
        width: 25px;
    }
  
    .ion-ios-tab_4:before,.ion-md-tab_4:before,.ion-wp-tab_4:before 
    {
        content: url(../../assets/icon/account_5.svg);
        width: 25px;
    }

    .ion-ios-tab_1_black,.ion-md-tab_1_black,.ion-wp-tab_1_black,ion-icon.tab-button-icon.icon.icon-ios.ion-ios-tab_1_black-outline
    {
        content: url(../assets/icon/home_black.svg);
        //padding: 2px 0px 3px;
        width: 25px;
    }

    .ion-ios-tab_1_black:before,.ion-md-tab_1_black:before,.ion-wp-tab_1_black:before
    {
        content: url(../../assets/icon/home_black.svg);
        width: 25px;
    }
  
    .ion-ios-tab_2_black,.ion-md-tab_2_black,.ion-wp-tab_2_black,ion-icon.tab-button-icon.icon.icon-ios.ion-ios-tab_2_black-outline
    {
        content: url(../assets/icon/category_black.svg);
        //padding: 2px 0px 3px;
        width: 25px;
    }

    .ion-ios-tab_2_black:before,.ion-md-tab_2_black:before,.ion-wp-tab_2_black:before 
    {
        content: url(../../assets/icon/category_black.svg);
        width: 25px;
    }

    .ion-ios-tab_3_black,.ion-md-tab_3_black,.ion-wp-tab_3_black,ion-icon.tab-button-icon.icon.icon-ios.ion-ios-tab_3_black-outline
    {
        content: url(../assets/icon/cart_black.svg);
        //padding: 2px 0px 3px;
        width: 25px;
    }
  
    .ion-ios-tab_3_black:before,.ion-md-tab_3_black:before,.ion-wp-tab_3_black:before 
    {
        content: url(../../assets/icon/cart_black.svg);
        width: 25px;
    }

    .ion-ios-tab_4_black,.ion-md-tab_4_black,.ion-wp-tab_4_black,ion-icon.tab-button-icon.icon.icon-ios.ion-ios-tab_4_black-outline
    {
        content: url(../assets/icon/account_5_black.svg);
        //padding: 2px 0px 3px;
        width: 25px;
    }
  
    .ion-ios-tab_4_black:before,.ion-md-tab_4_black:before,.ion-wp-tab_4_black:before 
    {
        content: url(../../assets/icon/account_5_black.svg);
        width: 25px;
    }

    .footer ion-col
    {
        max-width:25%;
        text-align:center;
    }

    .footer span
    {
        font-size: 14px;
    }

    .footer .cart_badge
    {
        position: absolute;
        top: 4px;
        z-index: 2;
        width: 20px;
        margin-left: 10px;
        left: 50%;
        font-size: 12px;
        color: #000;
        border-radius: 5px;
        width: 22px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-radius: 5px;
    }

    .footer_span
    {
        background: linear-gradient(to left, #3bac44 -2%, #3bac44 117%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .error_handling_div
    {
        .error_handling_image
        {
            margin-top:6vh;
            max-width: 65%;
            margin: 8vh auto;
            display: block; 
            margin-bottom: 0vh;
        }

        div
        {
            margin-top: 8vh;
        }

        .error_p1
        {
            font-size:18px;
            font-weight:500;
            text-align:center;
            margin-bottom: -10px;
        }

        .error_p2
        {
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            color: #a5a1a1;
        }

        .error_submit_button
        {
            border-radius: 5px;
            margin: 0 auto;
            display:block;
            padding-bottom: 1px;
            text-transform: capitalize;
        }
    }

    @media screen and (max-width: 350px)
    {
        .menu-image 
        {
            height: 6vw !important;
        }
    }

    @media screen and (min-width: 351px) and (max-width: 500px)
    {
        .menu-image 
        {
            height: 5.6vw !important;
        }
    }

    @media screen and (min-width: 501px) and (max-width: 590px)
    {
        .menu-image 
        {
            height: 4.5vw !important;
        }
    }

    @media screen and (min-width: 591px) and (max-width: 690px)
    {
        .menu-image 
        {
            height: 5vw !important;
        }
    }

    @media screen and (min-width: 691px)
    {
        .menu-image 
        {
            height: 3.5vw !important;
        }
    }

    .ion-ios-notification_icon,.ion-md-notification_icon,.ion-wp-notification_icon,ion-icon.tab-button-icon.icon.icon-ios.ion-ios-notification_icon-outline  
    {
        content: url(../assets/icon/header_icon_1.svg);
        padding: 2px 0px 3px;
        // opacity: 0.9;
        width: 30px;
        //height: 32px;
    }

    .ion-ios-notification_icon:before,.ion-md-notification_icon:before,.ion-wp-notification_icon:before 
    {
        content: url(../../assets/icon/header_icon_1.svg);
        width: 30px;
    }

    .ion-ios-arrow_forward_icon,.ion-md-arrow_forward_icon,.ion-wp-arrow_forward_icon,ion-icon.tab-button-icon.icon.icon-ios.ion-ios-arrow_forward_icon-outline  
    {
        content: url(../assets/icon/arrow_forward_right.svg);
        padding: 2px 0px 3px;
        // opacity: 0.9;
        width: 15px;
        //height: 32px;
    }

    .ion-ios-arrow_forward_icon:before,.ion-md-arrow_forward_icon:before,.ion-wp-arrow_forward_icon:before 
    {
        content: url(../assets/icon/arrow_forward_right.svg);
        width: 15px;
    }
}
