page-edit-address 
{
	.scroll-content 
    {
        padding: 12px !important;
    }
    
	.clear-list .item .text-input:focus,.clear-list .item .text-input,.clear-list .item:last-child .text-input
	{
  		border-bottom: 1px solid #ddd !important;
	}

	.clear-list .item ion-input
	{
  		color: #000 !important;
	}

	.clear-list .item .input-icon 
	{
  		padding-top: 0px !important;
  	}

  	.item-ios,.item-md,.item-wp 
  	{
  		padding-left: 0px !important;
  	}

  	.item-ios.item-block .item-inner,.item-md.item-block .item-inner,.item-wp.item-block .item-inner
  	{
    	padding-right: 0px !important;
	}

	.button-outline-ios-dark,.button-outline-md-dark,.button-outline-wp-dark 
    {
        border-color: #9b9b9b !important;
    }

  	.item-ios ion-icon[item-left] + .item-inner, .item-ios ion-icon[item-left] + .item-input, .item-ios ion-icon[item-start] + .item-inner, .item-ios ion-icon[item-start] + .item-input,.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input,.item-wp ion-icon[item-left] + .item-inner, .item-wp ion-icon[item-left] + .item-input, .item-wp ion-icon[item-start] + .item-inner, .item-wp ion-icon[item-start] + .item-input 
  	{
  		margin-left: 0px !important;
  	}

  	.invalid_item
	{
  		padding-left: 7vh !important;
        margin-top: -2vh !important;
	}

	.invalid_item p
	{
	  	color : #F44336;
	  	white-space: initial !important;
	}

	.ion-ios-username_icon,.ion-md-username_icon,.ion-wp-username_icon 
	{
	  	content: url(../assets/icon/user.svg);
	  	padding: 2px 0px 3px;
	  	width: 30px;
	}

	.ion-ios-username_icon:before,.ion-md-username_icon:before,.ion-wp-username_icon:before 
	{
	  	content: url(../../assets/icon/user.svg);
	  	width: 30px;
	}

	.ion-ios-email_icon,.ion-md-email_icon,.ion-wp-email_icon 
	{
	  	content: url(../assets/icon/email.svg);
	  	padding: 2px 0px 3px;
	  	width: 30px;
	}

	.ion-ios-email_icon:before,.ion-md-email_icon:before,.ion-wp-email_icon:before 
	{
	  	content: url(../../assets/icon/email.svg);
	  	width: 30px;
	}

	.ion-ios-mobile_icon,.ion-md-mobile_icon,.ion-wp-mobile_icon 
	{
	  	content: url(../assets/icon/mobile.svg);
	  	padding: 2px 0px 3px;
	  	width: 30px;
	}

	.ion-ios-mobile_icon:before,.ion-md-mobile_icon:before,.ion-wp-mobile_icon:before 
	{
	  	content: url(../../assets/icon/mobile.svg);
	  	width: 30px;
	}

	.ion-ios-password_icon,.ion-md-password_icon,.ion-wp-password_icon 
	{
	  	content: url(../assets/icon/password.svg);
	  	padding: 2px 0px 3px;
	  	width: 30px;
	}

	.ion-ios-password_icon:before,.ion-md-password_icon:before,.ion-wp-password_icon:before 
	{
	  	content: url(../../assets/icon/password.svg);
	  	width: 30px;
	}

	.ion-ios-company_icon,.ion-md-company_icon,.ion-wp-company_icon 
	{
	  	content: url(../assets/icon/company.svg);
	  	padding: 2px 0px 3px;
	  	width: 30px;
	}

	.ion-ios-company_icon:before,.ion-md-company_icon:before,.ion-wp-company_icon:before 
	{
	  	content: url(../../assets/icon/company.svg);
	  	width: 30px;
	}

	.ion-ios-pin_icon,.ion-md-pin_icon,.ion-wp-pin_icon 
	{
	  	content: url(../assets/icon/pin.svg);
	  	padding: 2px 0px 3px;
	  	width: 30px;
	}

	.ion-ios-pin_icon:before,.ion-md-pin_icon:before,.ion-wp-pin_icon:before 
	{
	  	content: url(../../assets/icon/pin.svg);
	  	width: 30px;
	}

	.ion-ios-home_icon,.ion-md-home_icon,.ion-wp-home_icon 
	{
	  	content: url(../assets/icon/home.svg);
	  	padding: 2px 0px 3px;
	  	width: 30px;
	}

	.ion-ios-home_icon:before,.ion-md-home_icon:before,.ion-wp-home_icon:before 
	{
	  	content: url(../../assets/icon/home.svg);
	  	width: 30px;
	}

	.select-ios,.select-md,.select-wp 
  	{
	    padding: 0px 10px 0px 0px !important;
	    border-bottom: 1px solid #fff !important;
  	}

  	ion-select
  	{
    	max-width: 100% !important;
  	}

  	.footer 
    {
        width: 100vw;
        bottom: 0;
        height: 42px;
        .button-left 
        {
            display: inline-block;
            background-color: #fff;
            button 
            {
                height: 42px !important;
                //color: color($colors, pearl);
                color:#ed6663;
                font-size: 1.5rem;
                width: 100vw;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
            }
            .quantity-select 
            {
                display: none;
            }
        }
        .button-right 
        {
            text-align: right;
            width: 60vw;
            display: inline-block;
            position: fixed;
            right: 0;
            background-color: #2f2e2e;
            button 
            {
                height: 42px;
                color: color($colors, pearl);
                font-size: 1.5rem;
                font-weight: 600;
                margin: 0 0 0 0;
            }
        }
    }

    .ion-ios-arrow_forward_icon,.ion-md-arrow_forward_icon,.ion-wp-arrow_forward_icon 
    {
        content: url(../assets/icon/arrow-forward.svg);
        padding: 2px 0px 3px;
        width: 40px;
    }

    .ion-ios-arrow_forward_icon:before,.ion-md-arrow_forward_icon:before,.ion-wp-arrow_forward_icon:before 
    {
        content: url(../../assets/icon/arrow-forward.svg);
        width: 40px;
    }
}
