page-signin 
{
    .scroll-content 
    {
        padding: 12px !important;
        background-color: rgba(20, 20, 20, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .layer 
    {
        background-color: rgba(20, 20, 20, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .abc
    {
        background-image:url('../assets/icon/background_img.jpg');background-repeat: no-repeat ;background-size: 100% 100%;
    }

    .content-ios,.content-md,.content-wp 
    {
        background-color: transparent !important;
    }

    .text-input::-webkit-input-placeholder
    {
        text-indent: 0;
        color: #fff;
    }

    .content-ios hr,.content-md hr,.content-wp hr 
    {
        height: 1px !important;
        background-color: #fff !important;
    }

    .login-header 
    {
        padding-top: 14vh;
        .top-logo 
        {
            img 
            {
                width: 40vw;
            }
        }
        .skip 
        {
            float: right;
            margin-top: 1vh;
            margin-right: 5vw;
            font-size: 0.88em;
            font-weight: 400;
        }
    }
    
  	.clear-list .item .text-input:focus,.clear-list .item .text-input,.clear-list .item:last-child .text-input
  	{
    	border-bottom: 1px solid #9b9b9b !important;
  	}

  	.clear-list .item ion-input
  	{
    	color: #fff !important;
  	}

  	.clear-list .item .input-icon 
  	{
    	padding-top: 0px !important;
	}

	.item-ios,.item-md,.item-wp 
	{
    	padding-left: 0px !important;
    }

    .item-ios.item-block .item-inner,.item-md.item-block .item-inner,.item-wp.item-block .item-inner
    {
      padding-right: 0px !important;
    }

    .button-outline-ios-dark,.button-outline-md-dark,.button-outline-wp-dark 
    {
        border-color: #fff !important;
    }

    .item-ios ion-icon[item-left] + .item-inner, .item-ios ion-icon[item-left] + .item-input, .item-ios ion-icon[item-start] + .item-inner, .item-ios ion-icon[item-start] + .item-input,.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input,.item-wp ion-icon[item-left] + .item-inner, .item-wp ion-icon[item-left] + .item-input, .item-wp ion-icon[item-start] + .item-inner, .item-wp ion-icon[item-start] + .item-input 
    {
    	margin-left: 0px !important;
	}

	.invalid_item
  	{
    	padding-left: 7vh !important;
        margin-top: -2vh !important;
  	}

  	.invalid_item p
  	{
    	color : #F44336;
  	}

  	.ion-ios-username_icon,.ion-md-username_icon,.ion-wp-username_icon 
    {
        content: url(../assets/icon/user_2.svg);
        padding: 2px 0px 3px;
        width: 30px;
    }
  
    .ion-ios-username_icon:before,.ion-md-username_icon:before,.ion-wp-username_icon:before 
    {
        content: url(../../assets/icon/user_2.svg);
        width: 30px;
    }

    .ion-ios-email_icon,.ion-md-email_icon,.ion-wp-email_icon 
    {
        content: url(../assets/icon/email_2.svg);
        padding: 2px 0px 3px;
        width: 30px;
    }
  
    .ion-ios-email_icon:before,.ion-md-email_icon:before,.ion-wp-email_icon:before 
    {
        content: url(../../assets/icon/email_2.svg);
        width: 30px;
    }

    .ion-ios-mobile_icon,.ion-md-mobile_icon,.ion-wp-mobile_icon 
    {
        content: url(../assets/icon/mobile_2.svg);
        padding: 2px 0px 3px;
        width: 30px;
    }
  
    .ion-ios-mobile_icon:before,.ion-md-mobile_icon:before,.ion-wp-mobile_icon:before 
    {
        content: url(../../assets/icon/mobile_2.svg);
        width: 30px;
    }

    .ion-ios-password_icon,.ion-md-password_icon,.ion-wp-password_icon 
    {
        content: url(../assets/icon/password_2.svg);
        padding: 2px 0px 3px;
        width: 30px;
    }
  
    .ion-ios-password_icon:before,.ion-md-password_icon:before,.ion-wp-password_icon:before 
    {
        content: url(../../assets/icon/password_2.svg);
        width: 30px;
    }

    .ion-ios-facebook_icon,.ion-md-facebook_icon,.ion-wp-facebook_icon 
    {
        content: url(../assets/icon/facebook.svg);
        padding: 2px 0px 3px;
        width: 30px;
    }
  
    .ion-ios-facebook_icon:before,.ion-md-facebook_icon:before,.ion-wp-facebook_icon:before 
    {
        content: url(../../assets/icon/facebook.svg);
        width: 30px;
    }

    .ion-ios-google_plus_icon,.ion-md-google_plus_icon,.ion-wp-google_plus_icon 
    {
        content: url(../assets/icon/google_plus.svg);
        padding: 2px 0px 3px;
        width: 30px;
    }
  
    .ion-ios-google_plus_icon:before,.ion-md-google_plus_icon:before,.ion-wp-google_plus_icon:before 
    {
        content: url(../../assets/icon/google_plus.svg);
        width: 30px;
    }
 
    video 
    {
        position: fixed;
        top: 50%;
        left: 75%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }

    .item-ios,.item-md,.item-wp
    {
        background-color: transparent !important;
    }

    .form_adjust
    {
        margin-top: 3vh;
    }

    .grid
    {
        padding: 0px !important;
    }

    .col
    {
        padding: 0px !important;
        text-align: center;
        margin:0 auto;
    }

    .submit_button
    {
        color:#fff;
        margin: 0 auto;
        margin-top: 25px;
    }

    @media screen and (max-height: 425px)
    {
        .abc
        {
            background-image: url(../assets/icon/background_img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media screen and (max-width: 310px)
    {
        .welcome_header
        {
            margin-bottom: 12vh;
            margin-top:12vh;
            font-size:18px;
            font-weight:500;
            color:#fff;
        }

        .p_left
        {
            color:#fff;
            font-size:9px;
            font-weight:500;
        }

        .p_left span
        {
            padding-left:5px;
            font-size:11px;
            font-weight:500;
            color:#fff;
        }

        .p_right
        {
            color:#fff;
            font-size:10px;
            font-weight:500;
        }
    }

    @media screen and (min-width: 311px)
    {
        .welcome_header
        {
            margin-bottom: 12vh;
            margin-top:12vh;
            font-size:20px;
            font-weight:500;
            color:#fff;
        }

        .p_left
        {
            color:#fff;
            font-size:11px;
            font-weight:500;
        }

        .p_left span
        {
            padding-left:5px;
            font-size:13px;
            font-weight:500;
            color:#fff;
        }

        .p_right
        {
            color:#fff;
            font-size:12px;
            font-weight:500;
        }
    }

    @media screen and (min-width: 360px)
    {
        .welcome_header
        {
            margin-bottom: 12vh;
            margin-top:12vh;
            font-size:23px;
            font-weight:500;
            color:#fff;
        }

        .p_left
        {
            color:#fff;
            font-size:13px;
            font-weight:500;
        }

        .p_left span
        {
            padding-left:5px;
            font-size:15px;
            font-weight:500;
            color:#fff;
        }

        .p_right
        {
            color:#fff;
            font-size:14px;
            font-weight:500;
        }
    }

    .radio-ios .radio-checked,.radio-md .radio-checked,.radio-wp .radio-checked 
    {
        border-color: #fff !important;
    }

    .radio-ios .radio-inner,.radio-md .radio-inner,.radio-wp .radio-inner 
    {
        background-color: #fff !important;
    }

    .item-radio-checked.item-ios ion-label,.item-radio-checked.item-md ion-label,.item-radio-checked.item-wp ion-label 
    {
        color: #fff !important;
    }

    .clear-list .item ion-label 
    {
        color: #c7c7c7;
    }

    ion-label
    {
        white-space: wrap !important;
    }
}
