<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<!-- <div class="content-wrapper">
      	<div class="profile">
	        <div class="avatar-image">
	          	<div class="avatar-container">
	            	<div class="avatar-cropper"> -->
	              		<img src="assets/icon/account_6_1.svg" style="margin-top:4vh;max-width: 50%;margin: auto;display: block;">
	            	<!-- </div>
	          	</div>
	        </div>
	    </div>
	</div> -->
	<form [formGroup]="moduleForm" style="margin-top:5vh;">
	    <ion-list class="clear-list">
	    	<ion-item>
	        	<ion-icon class="input-icon" name="password_icon" item-left></ion-icon>
	        	<ion-input formControlName="old_password" type="password" [class.invalid]="!moduleForm.controls.old_password.valid && (moduleForm.controls.old_password.dirty || submitAttempt)" placeholder="Old Password"></ion-input>
	      	</ion-item>

	      	<ion-item class="invalid_item" *ngIf="!moduleForm.controls.old_password.valid  && (moduleForm.controls.old_password.dirty || submitAttempt)">
	        	<p>Password should be minimum six characters</p>
	      	</ion-item>

	      	<ion-item>
	        	<ion-icon class="input-icon" name="password_icon" item-left></ion-icon>
	        	<ion-input formControlName="new_password" type="password" [class.invalid]="!moduleForm.controls.new_password.valid && (moduleForm.controls.new_password.dirty || submitAttempt)" placeholder="New Password"></ion-input>
	      	</ion-item>

	      	<ion-item class="invalid_item" *ngIf="!moduleForm.controls.new_password.valid  && (moduleForm.controls.new_password.dirty || submitAttempt)">
	        	<p>Password should be minimum six characters</p>
	      	</ion-item>

	      	<ion-item>
	        	<ion-icon class="input-icon" name="password_icon" item-left></ion-icon>
	        	<ion-input formControlName="confirm_password" type="password" [class.invalid]="!moduleForm.controls.confirm_password.valid && (moduleForm.controls.confirm_password.dirty || submitAttempt)" placeholder="Confirm Password"></ion-input>
	      	</ion-item>

	      	<ion-item class="invalid_item" *ngIf="!moduleForm.controls.confirm_password.valid  && (moduleForm.controls.confirm_password.dirty || submitAttempt)">
	        	<p>Confirm Password should be matched with password</p>
	      	</ion-item>

	      	<button ion-button color="dark" outline round block (click)="changePassword()" style="margin: 0 auto;margin-top: 25px;">
	      		Save
	      	</button>
	    </ion-list>
  	</form>
</ion-content>
