page-contact-us 
{
	.scroll-content 
    {
        padding: 12px !important;
    }
    
	.card-ios,.card-md,.card-wp
  	{
    	border: 1px solid #f4f4f4;
    	border-radius: 10px;
    	box-shadow: 2px 2px 40px -12px #999;
    	width:100%;
    	margin: 0px !important;
  	}
}
